# Environments
.venv/
venv/
env/

# Python junk
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data (raw datasets can be huge)
*.csv
data/raw/
data/processed/

# Models (can be huge)
*.joblib
*.pth

# Reports / outputs (optional)
reports/
results/

# ================================
# Energy Forecasting Project
# ================================

Energy-Forecasting-Anomaly-Detection/data/raw/
Energy-Forecasting-Anomaly-Detection/data/processed/
Energy-Forecasting-Anomaly-Detection/models/
Energy-Forecasting-Anomaly-Detection/app/__pycache__/
